build/
out/
CMakeUserPresets.json

*.exe
*.out
*.o
*.a
*.dll

.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
*.code-workspace

*.dat
*.bin
*.log

*.db
*.db-journal
*.db-wal

__pycache__/
*.py[cod]
.venv/